---
import { readAll } from '../lib/markdoc/read'
import { gameSchema } from '../lib/markdoc/frontmatter.schema'
import PageLayout from '../layouts/PageLayout.astro'
import PageMeta from '../components/PageMeta.astro'
import { SITE_TITLE } from '../config'

const posts = await readAll({
  directory: 'games',
  frontmatterSchema: gameSchema,
})

const sortedPosts = posts.sort(
  (a, b) =>
    new Date(b.frontmatter.post.date).valueOf() -
    new Date(a.frontmatter.post.date).valueOf()
)
---

<PageLayout>
  <PageMeta title={`Games | ${SITE_TITLE}`} slot="meta" />
  <section slot="main">
    <ul>
      {
        sortedPosts.map((post) => {
          const formattedDate = new Date(
            post.frontmatter.post.date
          ).toLocaleDateString('en-us', {
            year: 'numeric',
            month: 'short',
            day: 'numeric',
          })
          return (
            <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-start">
              <div class="title">
                <a
                  href={`/games/${post.slug}`}
                  class="unset hover:text-text-link"
                >
                  {post.frontmatter.game.name}
                </a>
              </div>
              <div class="text-text-muted text-sm italic">
                <time datetime={post.frontmatter.post.date.toISOString()}>
                  {formattedDate}
                </time>
              </div>
            </li>
          )
        })
      }
    </ul>
  </section>
</PageLayout>
