---
interface Props {
  drawingAreas: {
    title: string
    amount: string
    description?: string
    useCases: string[]
  }[]
  imageSrc: string
  imageTexts: string[]
}
const { drawingAreas, imageSrc, imageTexts } = Astro.props
---

<div class="flex flex-wrap items-start justify-center gap-4 mb-4">
  <img
    src={imageSrc}
    alt="Drawing areas"
    class="not-prose w-full max-w-[300px]"
  />
  <div class="basis-[24ch] grow">
    {imageTexts.map((text) => <p class="first:mt-0 last:mb-0">{text}</p>)}
  </div>
</div>

<div
  class="prose-p:mt-2 prose-headings:m-0 prose-p:mb-0 grid sm:grid-cols-2 gap-3"
>
  {
    drawingAreas.map((area) => (
      <div class="p-4 bg-white border border-gray-200 rounded-2xl shadow-lg dark:bg-gray-800 dark:border-gray-700">
        <h4
          id={area.title
            .toLowerCase()
            .replace(/[^a-z0-9]/g, '-')
            .replace(/-+/g, '-')}
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 leading-none dark:text-white"
        >
          {area.title}
        </h4>
        <div class="font-normal text-gray-700 dark:text-gray-400">
          <p>Amount: {area.amount}</p>
          <p>{area.description}</p>
          <p>Draw here when:</p>
          <ul>
            {area.useCases.map((item) => (
              <li>{item}</li>
            ))}
          </ul>
        </div>
      </div>
    ))
  }
</div>
