---
type IconName = 'book' | 'play-card' | 'shopping-cart' | 'news'

interface Props {
  title: string
  description: string
  href: string
  icon: IconName
  cta: string
  class?: string
}

const { title, description, href, icon, cta, class: className } = Astro.props
---

<a
  href={href}
  class:list={[
    'unset group flex flex-col relative overflow-hidden p-6 bg-white border border-gray-200 rounded-2xl shadow-lg dark:bg-gray-800 dark:border-gray-700',
    className,
  ]}
>
  <i
    class:list={[
      `ti ti-${icon}`,
      'text-[10rem] absolute -right-4 -bottom-4 text-black/5 dark:text-white/5',
    ]}></i>

  <div
    class="mb-2 text-2xl font-bold tracking-tight text-gray-900 leading-none dark:text-white"
  >
    {title}
  </div>

  <div class="mb-4 font-normal grow text-gray-700 dark:text-gray-400">
    {description}
  </div>

  <div
    class="inline-flex self-start items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-full group-hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:group-hover:bg-blue-700 dark:focus:ring-blue-800"
  >
    {cta}
    <svg
      class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 14 10"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M1 5h12m0 0L9 1m4 4L9 9"></path>
    </svg>
  </div>
</a>
