---
import type { MarkdownHeading } from 'astro'

type Props = {
  headings: MarkdownHeading[]
}

type HeadingWithSubheadings = MarkdownHeading & {
  subheadings: MarkdownHeading[]
}

const { headings } = Astro.props

const grouppedHeadings = headings.reduce((array, heading) => {
  if (heading.depth === 2) {
    array.push({ ...heading, subheadings: [] })
  } else if (heading.depth === 3) {
    array.at(-1)?.subheadings.push(heading)
  }

  return array
}, [] as HeadingWithSubheadings[])
---

<nav id="table-of-contents" aria-label="Table Of Contents">
  <ol>
    {
      grouppedHeadings.map((h) => (
        <li>
          <a href={`#${h.slug}`} class="unset">
            {h.text}
          </a>
          {h.subheadings.length > 0 && (
            <ol>
              {h.subheadings.map((sub) => (
                <li>
                  <a href={`#${sub.slug}`} class="unset">
                    {sub.text}
                  </a>
                </li>
              ))}
            </ol>
          )}
        </li>
      ))
    }
  </ol>
</nav>

<script is:inline>
  const observer = new IntersectionObserver(
    (entries) => {
      for (const entry of entries) {
        const headingFragment = `#${entry.target.id}`
        const tocItem = document.querySelector(`a[href="${headingFragment}"]`)

        if (entry.isIntersecting) {
          const previouslyActivatedItem =
            document.querySelector('.active-toc-item')

          previouslyActivatedItem?.classList.remove('active-toc-item')
          tocItem.classList.add('active-toc-item')
        } else {
          const isAnyOtherEntryIntersecting = entries.some(
            (e) => e.target.id !== entry.target.id && e.isIntersecting
          )

          if (isAnyOtherEntryIntersecting) {
            tocItem.classList.remove('active-toc-item')
          }
        }
      }
    },
    { root: null, rootMargin: '0px', threshold: [1] }
  )

  const sectionHeadings = document.querySelectorAll(
    'article > h2, article > h3'
  )

  for (const heading of sectionHeadings) {
    observer.observe(heading)
  }
</script>

<style>
  .active-toc-item {
    font-weight: bold;
  }
</style>
